d-article {
contain: none;
}

/* Sidebar Navigation */
#TOC {
opacity: 1;
position: fixed;
left: calc(7%);
top: calc(5.5%);
/* width: 20%; */
max-width: 260px;
max-height: 85%;
overflow-y: auto;
padding-top: 50px;
/* border-right: 1px solid rgba(0, 0, 0, 0.1); */
/* border-radius: 1px; */
transition: all 0.5s;
z-index: 2;                 /* Optional */
}

/* Hide the TOC when resized to mobile or tablet:  480px, 768px, 900px */
@media screen and (max-width: 1000px) {
#TOC {
position: relative;
left: 0;
top: 0;
max-width: none;
max-height: none;
overflow-y: auto;
border: none;
background: none; 
}
}